
@page
@model Kvickly_Connect.Pages.AdminControl.AdminIndexModel
@{
}
<p>
    <a asp-page="/Items/AdminItems" class="btn btn-primary btn-lg active">Manage Items</a>
</p>
<p>
    <a asp-page="/Customers/AllCustomers" class="btn btn-primary btn-lg active">Manage Customers</a>
</p>
<p>
    <a asp-page="/AdminControl/AdminAllOrders" class="btn btn-primary btn-lg active">Delete Orders</a>
</p>
<p>
    <a asp-page="/AdminControl/Statistics" class="btn btn-primary btn-lg active">Stats</a>
</p>